.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 30px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    align-items: flex-end;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.text {
    position: relative;
    max-width: 527px;
    padding: 8px 13px;
    box-shadow: 0px 5px 20px 0px rgba(29, 33, 38, 0.03),0px 1px 2px 0px rgba(29, 33, 38, 0.1);
    background: rgba(0, 102, 204, 1);
    border-radius: 10px 10px 0 10px;
}

.text:after {
    content: '';
    position: absolute;
    right: -12px;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 12px solid #0066CC;
}

.name {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
    text-align: right;
}

.messageText {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    white-space: pre-wrap;
    word-wrap: break-word;
}

.time {
    margin-top: 5px;
    margin-right: 11px;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    color: rgba(0, 0, 0, 1);
}