.item {
}

.item:last-of-type {
}

.users {
    width: 606px;
}

.buttonsContainer {
}

.container {
}

.thead {
    background: rgba(229, 229, 229, 1);
;
}

.nameCol {
    font-weight: 600;
}

.ageCol {
    font-weight: 600;
}