.App {
    --header_height: 60px;
    max-width: 1280px;
    height: 100%;
    padding: 0 70px;
    margin: 0 auto;
}

.hw {

}

.hwTitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
}