.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.friendImageAndText {
    display: flex;
    gap: 12px;
    align-items: flex-end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.friendText {
    position: relative;
    max-width: 527px;
    padding: 8px 13px;
    box-shadow: 0px 5px 20px 0px rgba(29, 33, 38, 0.03),0px 1px 2px 0px rgba(29, 33, 38, 0.1);
    background: rgba(245, 247, 251, 1);
    border-radius: 10px 10px 10px 0;
}

.friendText:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-right: 12px solid rgba(245, 247, 251, 1);;
    border-top: 12px solid transparent;
}

.friendName {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: rgba(0, 0, 0, 1);
}

.friendMessageText {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    white-space: pre-wrap;
    word-wrap: break-word;
}

.friendTime {
    font-size: 10px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 11px;
    line-height: 12px;
    color: rgba(0, 0, 0, 1);
}
