.sendForm {
    display: flex;
    gap: 44px;
}

.textarea {
    width: 976px;
    height: 40px;
    padding: 12px 24px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 0px rgba(29, 33, 38, 0.03),0px 1px 2px 0px rgba(29, 33, 38, 0.1);
    background: rgba(245, 247, 251, 1);
    border: none;
    opacity: 0.9;
    resize: none;
}

.button {
    width: 120px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    background: rgba(0, 102, 204, 1);
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.7;
}
.button:active {
    opacity: 0.5;
}
